<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gybernaty Hackathon</title>

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">
</head>
<body>
<div class="form__page">
    <div class="substrate p-3">
        <h3>Registration Form</h3>
        <form class="form__wrapper" th:action="@{/application/submit}" method="post">
            <div class="form__group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form__group">
                <label for="fullName">Full Name:</label>
                <input type="text" id="fullname" name="fullName" required>
            </div>
            <div class="form__group">
                <label for="country">Language:</label>
                <select id="country" name="country" required>
                    <option value="RUSSIA">🇷🇺 Russian</option>
                    <option value="AFRICA">🇬🇧 English</option>
                </select>
            </div>
            <div class="form__group">
                <label for="aboutMe">About Me:</label>
                <textarea id="aboutMe" name="aboutMe" rows="4"></textarea>
            </div>
            <p th:text="${errorResponseText}" class="error_form_msg"></p>
            <div class="form__group">
                <button class="button" type="submit" th:text="${submitButton}">Register</button>
            </div>
            <p th:text="${errorText}" class="error_text"></p>
        </form>
    </div>
</div>
</body>
</html>