<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gybernaty Hackathon</title>

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">
</head>
<body>
<header class="slider">
    <div class="slider__content">
        <h1>Gybernaty Hackathon</h1>
        <p>Exploring Decentralized Technologies and Web 3.0</p>
    </div>
</header>
<main>
    <div class="substrate">
        <div class="content_wrapper">
            <p class="welcome__text">
                <span>Welcome to the Gybernaty Hackathon page</span> – an event focused on advancing decentralized
                technologies and
                web 3.0. This hackathon provides a unique opportunity for participants to bring their ideas to life and
                contribute to shaping the future of the digital world.
            </p>
        </div>
        <div class="content_wrapper">
            <h3>About Gybernaty hakaton:</h3>
            <p>
                Gybernaty Hakaton is a platform where participants can choose from several projects presented at the
                hackathon.
                Here, you can either independently bring your ideas to life or join teams for collaborative project
                implementation. We are looking for enthusiasts ready to take on the challenge and create something
                unique in the
                world of decentralized technologies.
            </p>
        </div>
        <div class="content_wrapper">
            <h3>How to Participate:</h3>
            <p>
                To become a participant in the hackathon, you need to submit an application. After reviewing your
                application,
                we will provide you with several projects to choose from. You select the one that resonates with you,
                join a
                team, or start your independent development.
            </p>
        </div>
        <div class="content_wrapper">
            <h3>Development Process:</h3>
            <p>
                The chosen project involves creating a repository in our organization specifically for you or your team.
                The
                development timelines depend on the specific project and range from 1 to 2 months. During this time, you
                are
                free to showcase your talents, creativity, and technical skills.
            </p>
        </div>
        <div class="content_wrapper">
            <h3>Project Presentation and Awards:</h3>
            <p>
                Upon the completion of the development period, participants present their projects to the jury. The top
                participants receive the status of a developer in the Gybernaty community, along with our signature GBR
                coin.
                However, the most significant reward is the valuable experience gained from real-world projects,
                beneficial for
                your career.
            </p>
        </div>
        <div class="content_wrapper center">
            <p class="footer_text">
                Join the Gybernaty Hackathon to be a part of the innovative movement in the world of decentralized
                technologies!
            </p>
        </div>
        <div class="content_wrapper center">
            <a class="button" type="submit" id="submit" href="/form" target="_self">
                Sign up to Hackathon
            </a>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer__wrapper">

        <a class="footer__logo" href="https://gyber.org" target="_blank">
            <img th:src="@{/images/logo.svg}" alt="logo">
            <span>Gyber</span>
        </a>
        <div class="footer__social">
            <a href="https://github.com/OpenDevCommune" target="_blank">
                <img th:src="@{/images/github-icon.svg}" alt="github">
            </a>
            <a href="https://t.me/+ts6hNf21bwU5N2Uy" target="_blank">
                <img th:src="@{/images/telegram-icon.svg}" alt="telegram">
            </a>
            <a href="https://discord.gg/amzvJ7UTsz" target="_blank">
                <img th:src="@{/images/discord-icon.svg}" alt="discord">
            </a>
            <a href="https://twitter.com/gybersocial" target="_blank">
                <img th:src="@{/images/discord-icon.svg}" alt="twitter">
            </a>
        </div>
        <div class="footer__copyright">
            Copyright © Gybernaty Community
        </div>
    </div>
</footer>
</body>
</html>
