<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gybernaty Hackathon</title>

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">
</head>
<body>
<div class="form__page">
    <div class="substrate">
        <div class="success">
            <div class="success__logo">
                <img th:src="@{/images/logo.svg}" alt="logo">
                <span>Gyber</span>
            </div>
            <h1>Welcome to the Hackathon</h1>
            <h2>Our manager will contact you soon</h2>
            <p>go to <a href="/">Main Page</a></p>
        </div>
    </div>
</div>
</body>
</html>